bin
.metadata
*~
test-output/
.DS_Store
.checkstyle
.classpath
.project
.settings/
*.log
*.log.gz
jetty/

*.iml
.idea/
*/.factorypath
.vscode/*

target/classes/
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/test-classes
